@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'roboto';
}

.welcome {
    display: flex; 
    justify-content: space-between;
    margin: 100px 0px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    gap: 10px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7E8;
    line-height: 30px;
}

button {
    background-color: #3882f6;
    width: 130px;
    height: 40px;
    border-radius: 10px;
}

.signup {
    color: #E5E7E8;
    font-size: 18px;
    font-weight: 700;
}

.right{
    width: 500px;
}

.hero, .footer {
    background-color: #1F2937;
    padding: 0px 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7E8;
    font-size: 18px;
}